#btn_salvar {
    text-align: right;
}
h1{
    color: white;
}

.ui.form {
    width: 100%;
}

.ui.form .fields {
    width: 100%;
    justify-content: start;
}

.ui.form .two.wide.field {
    width: 100%!important;
}

.ui.form .three.wide.field {
    width: 100%!important;
}

.ui.form .three.wide.field {
    width: 100%!important;
}

.botoes {
    display: inline-block;
    align-items: center;
    width: 100%;
}

.botoes .botao {
    float: right;
}