#btn_salvar {
    text-align: right;
}
h1{
    color: white;
}

.ui.form .fields {
    max-width: 80rem;
    width: 100%;
    justify-content: end;
}

.ui.form .two.wide.field {
    width: 100%!important;
}

.ui.form .three.wide.field {
    width: 100%!important;
}

.ui.form .three.wide.field {
    width: 100%!important;
}