body {
    background-color: grey;
}

.conteiner-principal{
    display: flex;
    margin: 2rem;
}

.ui.inverted.modal {
    background: rgba(0, 0, 0, .9)
}

.ui.inverted.modal>.content {
    background: rgba(43, 43, 43, 0.9);
    color: #fff
}

.ui.inverted.modal>.header,
.ui.inverted.modal>.actions {
    background: #191a1b;
    border-top: 1px solid rgba(34, 36, 38, .85);
    color: #fff
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    display: none;
}

.mover_direita{
    margin-left: 15px;
}

#content {
    margin: 2em;
    padding-bottom: 4em;
}

.grey_body_wrapper {
    padding: 1em 1em;
    box-shadow: none;
    background-color:#000000c4;
    position:relative;
}

.ui.inverted.card {
	background: rgba(255,255,255,.15);
	/* width: auto; */
	display: inline-block;
}

.ui.inverted.table{
    margin: 0px;
}

.ui.card {
    margin: 0;
}